.tab {
    .tab_title_wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
        margin: 0;

        .tab_title {
            font-size: 1rem;
            line-height: 1rem;
            font-weight: bold;
            cursor: pointer;
            color: #444444;
            width: auto;
            padding-left: 2.0625rem;
            padding-right: 2.0625rem;

            &:nth-child(2) {
                border-left-color: #000000;
                border-left-width: 3px;
            }
        }

        .active {
            color: #ED9441;
            transition: all 0.2s;
        }

    }

    .tab_item_wrap {
        .tab_item-enter {
            opacity: 0;
            transform: translateY(-100%);
        }

        .tab_item-enter-active {
            opacity: 1;
            transform: translateY(0);
            transition: opacity 1s, transform 1s
        }

        .tab_item-exit {
            opacity: 1;
            transform: translateY(0)
        }

        .tab_item-exit-active {
            opacity: 0;
            transform: translateY(100%);
            transition: opacity 1s, transform 1s;
        }
    }
}

@media screen and (max-width: 767px) {
    .tab {
        .tab_item_wrap {
            .tab_item-enter {
                opacity: 0;
                transform: scale(0.6)
            }

            .tab_item-enter-active {
                opacity: 1;
                transform: scale(1);
                transition: all 1000ms;
            }

            .tab_item-exit {
                opacity: 1;
                transform: scale(1);
            }

            .tab_item-exit-active {
                opacity: 0;
                transform: scale(.6);
                transition: all 1000ms
            }
        }
    }
}