.card_item {
    background: #FFFFFF;
    box-shadow: 0px 6px 14px 4px rgba(0, 0, 0, 0.14);
    border-radius: 1.375rem;
    .item_warp {
        padding: 1.0625rem 1.0625rem 1.6875rem 1.0625rem;
        .warp_info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .coin_logo {

                width: 1.75rem;
                height: 1.75rem;
                border-radius: 50%;
                border: 1px solid #ccc;
            }

            .info_coin {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                span {
                    text-align: end;

                    &:first-child {
                        font-size: 14px;
                        font-family: DINAlternate-Bold, DINAlternate;
                        font-weight: bold;
                        color: #3C3C3C;
                        line-height: 16px;
                    }

                    &:last-child {
                        font-size: 12px;
                        font-family: DINAlternate-Bold, DINAlternate;
                        font-weight: bold;
                        color: #FA9124;
                        line-height: 14px;
                    }
                }
            }
        }

        .warp_descs {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 14px;
            color: #666666;
            line-height: 19px;
            margin-top: 1rem;
            .warp_mapi_time {
                font-size: 12px;
                color: #FF0000;
            }
            .disable {
                color: unset;
            }
            .warp_mapi {
                font-size: 12px;
                font-family: DINAlternate-Bold, DINAlternate;
                font-weight: bold;
                color: #3C3C3C;
                line-height: 14px;
                span {
                    color: #FA9124;
                }
            }

            .warp_mapi_value {
                font-size: 18px;
                font-family: DINAlternate-Bold, DINAlternate;
                font-weight: bold;
                color: #444444;
                line-height: 21px;
            }
        }

        .warp_input {
            margin-top: .625rem !important;
            .harvestBtn {
                width: 100%;
                background: linear-gradient(180deg, #FA9124 0%, #F9B06C 100%);
                box-shadow: 0px -1px 8px 0px rgba(187, 96, 1, 0.3);
                border-radius: .3125rem;
                height: 3.125rem;

                font-size: 18px;
                color: #FFFFFF;
                line-height: 16px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    box-shadow: 0px -1px 8px 0px rgba(187, 96, 1, 0.5);
                }

                &:active {
                    background: #FA9124;
                }
            }
            .disBtn {
                width: 100%;
                background: #FFFFFF;
                box-shadow: 0px -1px 8px 0px rgba(187, 96, 1, 0.3);
                border-radius: .3125rem;
                padding: 1rem;

                font-size: 18px;
                // font-family: MicrosoftYaHei;
                text-align: center;
                color: #C3AA90;
                line-height: 16px;
                cursor: not-allowed;
            }

            .button {
                margin-top: .625rem !important;
                width: 100%;
                font-weight: bold;
            }
        }
    }
}