.pool-content {
    margin: 0 auto;
    padding: 13px 28px 50px;

    .switch {
        display: flex;
        align-items: center;

        span {
            padding-left: .25rem;
            font-size: 12px;
            font-family: MicrosoftYaHei;
            color: #3C3C3C;
        }
    }

    .cards {
        margin-top: 30px;
    }
}