.header {
  padding: 45px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fefafc;
  z-index: 98;

  &-wrap {
    .logo {
      width: 129px;
      height: 30px;
    }
  }

  &-title {
    font-size: 16px;
    color: #282828;

    span {
      cursor: pointer;

      & + span {
        margin-left: 62px;
      }

      &.active {
        font-weight: bold;
        position: relative;

        &::after {
          content: '';
          height: 4px;
          background: #fa9124;
          position: absolute;
          left: 0;
          bottom: -14px;
          width: 100%;
        }
      }
    }
  }
}
